.menu-container {
  width: min(960px, calc(100vw - 4rem));;
  margin: 0 auto;
}

h2 {
  color: var(--color-gold);
  text-align: center;
  font-size: 2rem;
  margin: 30px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 48px;
  padding-bottom: 48px;
}

.menu-img {
  width: 100%;
  height: 280px;
  object-fit: cover;
}

h3 {
  color: white;
}

.price {
  color: var(--color-gold);
}

.menu-desc {
  color: rgb(221, 221, 221);
}